
.Profile {
  // position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: orange;
  max-width: 100%;
  margin-bottom: 25px;
  // height: 100%;
  
  img {
    height: 80px;
    width: 80px;
    margin-bottom: 15px;
  }
}

._container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

._1container {
  // background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding-right: 20px;
  margin: 25px;
}

._2container {
  max-width: 50%;
  // background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin: 15px;
  
  p {
    padding-left: 5px;
  }
}

._3container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  // background-color: green;
  h4 {
    margin: 10px;
  }
}

.btns {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 152, 67);
  border-radius: 6px;
  font-size: 14px;
  padding: 5px 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
  border: none;
}

.btns:hover {
  background-color: rgb(255, 131, 59);
  color: white;
  text-decoration: none;
}

.cards {
  margin: 15px;
  h5, p {
    color: black;
  }
  .btns {
    margin: 5px;
  }
}


