
.containerAddPub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #46464625;
  flex-direction: column;
}

.row {
  margin: 10px;
}

.color-form {
  color: rgb(202, 110, 4);
}

.form-act {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 100%;
}

#createPub {
  margin-top: 10px;
    border-radius: 30px;
    background-color:#E34D24;
    color: white;
}

.pubdet-table{
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}
