.pub-detail {
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 100%;
  background-color: #00000000;
}

.black-color {
  color:black; 
 
}

font-w {
  font-weight: bold; 
  }

.LikeButton {
  border-radius: 15px;
  width: 60px;
  border: none;
}

.map{
  width:100%; 
  height: 300px;
}
