.pub-detail {
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 100%;
  background-color: #00000000;
}

.black-color {
  color:black; 
 
}

font-w {
  font-weight: bold; 
  }

.LikeButton {
  border-radius: 15px;
  width: 60px;
  border: none;
}

.containerMap{
  width:100%; 
  margin-right: 10%; 
  display:table; 
}

.map{
  display:table-row;
}
